plantacao/Services/plantacao.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:tns="http://localhost/plantacao/services/plantacaoSOAP.class.php" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    targetNamespace="http://localhost/plantacao/services/plantacaoSOAP.class.php">

<types>
		<xsd:schema targetNamespace="http://localhost/plantacao/services/plantacaoSOAP.class.php">

		<xsd:element name="Colheita" type="tns:Colheita"/>

        <xsd:complexType name="Colheita">
            <xsd:sequence>
				<xsd:element name="idarea" type="xsd:int"/>
				<xsd:element name="idplantacao" type="xsd:int"/>
				<xsd:element name="unidade" type="xsd:string"/>
				<xsd:element name="quantidade" type="xsd:float"/>
				<xsd:element name="data_colheita" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>

    </xsd:schema>
</types>

<message name="inserir_colheitaRequest">
   <part name="colheita" element="tns:Colheita"/>
</message>
<message name="inserir_colheitaResponse">
	<part name="retorno" type="xsd:string"/>
</message>


<portType name="portType1">
	<operation name="inserir_colheita_soap">
		<documentation>Inserir Colheita</documentation>
		<input message="tns:inserir_colheitaRequest"/>
        <output message="tns:inserir_colheitaResponse"/>
	</operation>
</portType>

<binding name="binding1" type="tns:portType1">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	
	<operation name="inserir_colheita_soap">
		<soap:operation soapAction="http://localhost/plantacao/services/plantacaoSOAP.class.php/inserir_colheita_soap"/>
	    <input>
			<soap:body use="literal"/>
		</input>
		<output>
			<soap:body use="literal"/>
		</output>
		<!-- <soap:operation soapAction="http://localhost/plantacao/services/plantacaoSOAP.class.php/inserir_colheita_soap" style="rpc"/>
		<input>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="plantacao"/>
		</input>
		<output>
			<soap:body use="encode" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="plantacao"/>
		</output> -->
		
	</operation>
	
</binding>

<service name="plantacaoSOAP">
	<port name="tns:portType1" binding="tns:binding1">
		<soap:address location="http://localhost/plantacao/services/plantacaoSOAP.class.php"/>
	</port>
</service>

</definitions>